@mixin transform($transformation){
	-webkit-transform: $transformation;
	-ms-transform: $transformation;
	transform: $transformation;
}

@mixin keyframes ($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName}{
		@content;
	}
}

@mixin appearance() {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

@mixin placeholder() {
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

@mixin max($maxWidth) {
	@media only screen and (max-width: $maxWidth) {
		@content;
	}
}

@mixin min($minWidth) {
	@media only screen and (min-width: $minWidth) {
		@content;
	}
}

@mixin user-select() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

@mixin clear() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin videoCover() {
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}