//importai
//fontai
//font-size: 62.5% - html
//body - font-family
//clear klase
//html, body - overflow-x: hidden
//inputu fontas


@import "reset";
@import "mixins";

/*fonts*/
@font-face {
	font-family: Futura-demi;
	src: url("../fonts/FuturaPTDemi.otf") format("opentype");
}

@font-face {
	font-family: Futura-medium;
	src: url("../fonts/FuturaPTMedium.otf") format("opentype");
}

@font-face {
	font-family: Futura-book;
	src: url("../fonts/FuturaPTBook.otf") format("opentype");
}

@font-face {
	font-family: Futura-light;
	src: url("../fonts/FuturaPTLight.otf") format("opentype");
}

*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	//font-family: 'Futura', sans-serif;
	position: relative;
}

a{
	text-decoration: none;
}

.clear{
	@include clear;
}

.hidden{
	overflow: hidden !important;
	position: fixed;
	width: 100%;
	height: 100%;
}

html, body{
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	@include max(1024px){
		overflow: hidden;
		width: 100%;
		height: 100%;
		position: fixed;
	};
}

.scrollContent{
	@include max(1024px){
		-webkit-overflow-scrolling: touch;
		overflow: auto;
		width: 100%;
		height: 100%;
	};
}

.wrapper{
	//max-width: 1385px;
	//width: 96%;
	margin: 0 auto;
	@include max(1024px){
		//width: 92%;
	};
}

.forAnimation{
	width: 50px;
	@include max(768px){
		width: 30px;
	};
}

.rotateAnimation{
	transform-origin: center;
	animation: rotate 2s cubic-bezier(0.21, 0.92, 0.32, 1.09) forwards 1s;
	-webkit-animation: rotate 2s cubic-bezier(0.21, 0.92, 0.32, 1.09) forwards 1s;
}

.logotext{
	width: 170px;
	margin-left: 7px;
	margin-bottom: 13px;
	height: 23px;
	@include max(768px){
		width: 118px;
		margin-bottom: 7px;
	}
}

.load{
	background-image: url(../images/balonas.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #f7f7f7;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.header{
	background-color: #f7f7f7;
	box-shadow: 0 20px 50px 10px #f7f7f7;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 2;
	&__logo{
		width: 230px;
		float: left;
		margin-top: 5px;
		margin-left: 30px;
		height: 54px;
		@include max(768px){
			width: 160px;
			margin-left: 18.5px;
		};
	}
	&__rightSection{
		float: right;
		position: relative;
	}
	.wrapper{
		padding: 15.5px 0;
		@include max(768px){
			padding: 10.5px 0;
		}
	}
	&-white{
		background-color: #ffffff;
		box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
	}
}

.nav{
	margin-top: 12px;
	margin-right: 135px;
	transition: transform 0.5s ease;
	@include max(1024px){
		@include transform(translate(100%, 0));
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		position: fixed;
		top: 0;
		right: 0;
		width: 50%;
		height: 100vh;
		background-color: rgba(99, 100, 102, 0.95);
		margin: 0;
		z-index: 2;
		padding-bottom: 165px;
		.navList{
			margin-top: 165px;
		}
		.navList__item{
			display: block;
			margin-right: 0;
			text-align: center;
			margin-bottom: 80px;
			&:last-child{
				margin-bottom: 0;
			}
			a{
				color: #f7f7f7;
			}
		}
	};
	@include max(768px){
		padding-bottom: 85px;
		.navList{
			margin-top: 85px;
		}
		.navList__item{
			margin-bottom: 40px;
			a{
				font-size: 1.1rem;
			}
		}
	};
}

.nav-open{
	@include transform(translate(0, 0));
}

.contactsBubbleHide{
	display: none;
}

.responsiveMenu{
	width: 90px;
	height: 90px;
	position: absolute;
	top: -17px;
	right: 0;
	display: none;
	z-index: 10;
	@include max(768px){
		width: 60px;
		height: 60px;
		top: -11px;
	};
	@include max(1024px){
		display: block;
	};
	span{
		width: 23px;
		height: 4px;
		background-color: #636466;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		transition: transform 0.3s;
		@include max(768px){
			width: 16px;
			height: 3px;
		};
	}
	.top{
		top: 35px;
		@include max(768px){
			top: 21px;
		};
	}
	.mid{
		top: 43px;
		@include max(768px){
			top: 27px;
		};
	}
	.bot{
		top: 51px;
		@include max(768px){
			top: 33px;
		};
	}
}

.responsiveMenuForm{
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	z-index: 10;
	@include max(768px){
		display: block;
	};
	span{
		width: 16px;
		height: 3px;
		background-color: #fff;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		transition: transform 0.3s;
		top: 27px;
	}
	.top{
		@include transform(rotate(45deg));
	}
	.bot{
		@include transform(rotate(-45deg));
	}
}

.responsiveMenuOpen{
	.mid{
		display: none;
	}
	.top{
		@include transform(rotate(45deg));
	}
	.bot{
		@include transform(rotate(-45deg));
	}
	.top, .bot{
		top: 43px;
		background-color: #bababa;
		@include max(768px){
			top: 28px;
			background-color: #fff;
		};
	}
}

.rightSection{
	font-family: 'Futura-demi', sans-serif;
	&__nav{
		float: left;
	}
	&__lang{
		position: absolute;
		right: 0;
		top: -17px;
		padding: 28px 16.5px;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		transition: border-left-color 0.3s ease;
		@include max(1024px){
			right: 90px;
		};
		@include max(768px){
			padding: 14.5px 1.5px;
			top: -11px;
			right: 60px;
		};
		&-hover{
			border-left-color: #e4e4e5;
			border-right-color: #e4e4e5;
			.langList{
				display: block
			}
		}
		&:hover{
			cursor: pointer;
		}
	}
}

.navList{
	&__item{
		display: inline-block;
		margin-right: 45px;
		&:last-child{
			margin-right: 0;
		}
	}
}

.lang{
	&__current{
		font-size: 14px;
		line-height: 1;
		color: #636466;
		text-transform: uppercase;
		display: block;
		padding: 10px;
		width: 55px;
		@include max(768px){
			font-size: 0.96rem;
		};
		&:after{
			content: '';
			margin-left: 8px;
			margin-bottom: 3px;
			display: inline-block;
			width: 4px;
			height: 4px;
			border: 1px solid transparent;
			border-right-color: #f15a55;
			border-bottom-color: #f15a55;
			@include transform(rotate(45deg));
		}
	}
}

.navList{
	.active{
		a{
			color: #f15a55;
		}
	}
}

.langList, .navList{
	list-style-type: none;
	a{
		font-size: 14px;
		line-height: 1;
		color: #636466;
		text-transform: uppercase;
		display: block;
		padding: 10px;
		letter-spacing: 0.5px;
		transition: color 0.2s ease-in-out;
		&:hover{
			color: #f15a55;
		}
	}
}

.langList{
	display: none;
	position: absolute;
	left: -1px;
	top: 90px;
	background-color: #fff;
	border: 1px solid #e4e4e5;
	@include max(768px){
		top: 60px;
	};
	li{
		padding: 25px 24.6px;
		border-bottom: 1px solid #e4e4e5;
		transition: background-color 0.3s ease;
		@include max(768px){
			padding: 15px 12.3px;
			a{
				font-size: 0.96rem;
			}
		};
		&:last-child{
			border: none;
		}
		&:hover{
			background-color: #f15a55;
			a{
				color: #fff;
			}
		}
	}
	.active{
		background-color: #f15a55;
		a{
			color: #fff;
		}
	}
}


.secondSlides{
	width: 100%;
	height: 300vh;
	background-image: url(../images/balonas.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	&__row{
		height: 100vh;
		position: relative;
	}
}

.bubbles{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	left: 20px;
	z-index: 1;
	box-shadow: 0 0 50px 25px #fff, inset 0 0 160px #fff;
	width: 10px;
	height: 105px;
	@include max(768px){
		left: 14px;
		box-shadow: none;
		height: 65px;
	};
	&__item{
		width: 10px;
		height: 10px;
		background-color: #636466;
		border-radius: 50%;
		margin-bottom: 20px;
		transition: background 0.3s ease;
		@include max(768px){
			width: 6px;
			height: 6px;
			margin-bottom: 13px;
		}
		&:last-child{
			margin-bottom: 0;
		}
		&:hover{
			background-color: #f15a55;
			cursor: pointer;
		}
	}
	&__active{
		background-color: #f15a55;
	}
}

.contactsBubble{
	width: 53px;
	height: 53px;
	border-radius: 50%;
	background-color: #df524d;
	position: fixed;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: 20px;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	z-index: 5;
	@include max(768px){
		display: none;
	};
	&:hover{
		background-color: #f15a55;
		cursor: pointer;
		box-shadow: 0 0 8px rgba(0,0,0,0.3);
	}
	svg{
		width: 26px;
		height: 27px;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}
	span{
		width: 23px;
		height: 3px;
		background-color: #fff;
		border-radius: 3px;
		left: 0;
		right: 0;
		top: 25px;
		margin: 0 auto;
		position: absolute;
		display: none;
	}
	.top{
		@include transform(rotate(45deg));
	}
	.bot{
		@include transform(rotate(-45deg));
	}
}

.bubbleLower{
	z-index: 0;
}

.contactsBubbleOpen{
	background-color: #636466;
	&:hover{
		background-color: #505153;
	}
	svg{
		display: none;
	}
	span{
		display: block;
	}
}

.sliderPage{
	height: 100vh;
	overflow: hidden;
	.wrapper{
		position: fixed;
		height: 100vh;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
}

.slidesWrapper{
	height: 100vh;
	.slide{
		width: 100%;
	}
}

.innerWrapper{
	width: 720px;
	height: 72vh;
	min-height: 500px;
	//max-height: 630px;
	background-color: rgba(241, 90, 85, 0.9);
	position: absolute;
	top: 90px;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	padding: 0 75px;
	box-shadow: -5px 5px 10px rgba(99,100,102, 0.2);
	@include max(1024px){
		width: 555px;
		height: 46vh;
		padding: 0 60px;
	};
	@include max(768px){
		top: 60px;
		width: 250px;
		height: 71vh;
		padding: 0 25px;
		min-height: 345px;
	};
	&__title{
		font-family: 'Futura-medium', sans-serif;
		font-size: 7.2rem;
		color: #fff;
		font-weight: 500;
		color: #f7f7f7;
		text-align: center;
		line-height: 1;
		margin-top: 11.8vh;
		margin-bottom: 5vh;
		@include max(1024px){
			font-size: 5.5rem;
			margin-top: 7.8vh;
			margin-bottom: 2.4vh;
		};
		@include max(768px){
			font-size: 2.5rem;
			margin-top: 8.3vh;
			margin-bottom: 2vh;
		};
		&-red{
			color: #f15a55;
		}
	}
	&__line{
		fill: #fff;
		width: 235px;
		display: block;
		margin: 0 auto;
		height: 50px;
		@include max(768px){
			width: 80px;
		};
		&-grey{
			fill: #636466;
		}
	}
	&__text{
		font-family: 'Futura-book', sans-serif;
		font-size: 2rem;
		line-height: 3.4rem;
		color: #f7f7f7;
		text-align: center;
		margin-top: 6.1vh;
		@include max(1024px){
			margin-top: 3.9vh;
			font-size: 1.5rem;
			line-height: 2.6rem;
		};
		@include max(768px){
			margin-top: 4.1vh;
			font-size: 1.2rem;
			line-height: 1.8rem;
		};
		&-grey{
			color: #636466;
		}
	}
	&__mouse{
		position: absolute;
		bottom: 2.8vh;
		right: 0;
		left: 0;
		margin: 0 auto;
		width: 22px;
		height: 55px;
		@include max(1024px){
			width: 2.4vh;
		};
		@include max(768px){
			width: 12px;
			bottom: 3.1vh;
		};
	}
	.mouseAnimation{
		animation: 1s mouse forwards;
		-webkit-animation: 1s mouse forwards;
	}
	&-white{
		background-color: rgba(255,255,255,0.95);
	}
	.contactButton{
		background-color: #f15a55;
		color: #fefefe;
		font-family: 'Futura-medium', sans-serif;
		width: 190px;
		padding: 22px 0;
		text-align: center;
		line-height: 1;
		font-size: 1.4rem;
		text-transform: uppercase;
		position: absolute;
		bottom: 10vh;
		left: 0;
		right: 0;
		margin: 0 auto;
		transition: background 0.3s ease;
		z-index: 2;
		@include max(768px){
			bottom: 7.2vh;
			font-size: 1.1rem;
			padding: 14.5px 0;
			width: 145px;
		};
		@include max(1024px){
			bottom: 6.8vh;
		};

		&:hover{
			background-color: #df524d;
			cursor: pointer;
		}
	}
}

.innerPage{
	background-color: #f7f7f7;
	overflow: hidden;
	height: 100vh;
	position: relative;
	&__leftSection, &__rightSection{
		width: 50%;
		float: left;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		height: calc(100vh - 90px);
		margin-top: 90px;
		@include max(1024px){
			width: 100%;
			height: calc(100vh - 60px);
		};
		@include max(768px){
			margin-top: 60px;
		}
	}
	&__rightSection{
		background-color: #fff;
		z-index: 1;
		@include max(1024px){
			right: 0;
			transition: transform 0.5s ease;
			@include transform(translate(100%,0));
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background-color: #f7f7f7;
		}
	}
	&__leftSection{
		left: 0;
		padding-bottom: 55px;
		@include max(1024px){
			left: 0;
			padding-right: 0;
		}
	}
}

.rightSection{
	#wrapper{
		position: relative;
		overflow: hidden;
		padding-bottom: 66%;
	}
	iframe{
		width: 100%;
		height: 100%;
	}
	.scroll{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__img{
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		float: left;
	}
	&__arrow{
		width: 53px;
		height: 53px;
		border-radius: 50%;
		background-color: #fff;
		position: absolute;
		transition: background 0.3s ease;
		display: none;
		top: 0;
		bottom: 0;
		margin: auto 0;
		@include max(768px){
			width: 35px;
			height: 35px;
		};
		&-left{
			left: 25px;
			@include max(768px){
				left: 12px;
			};
		}
		&-right{
			right: 25px;
			@include max(768px){
				right: 12px;
			};
		}
		&:hover{
			cursor: pointer;
			background-color: rgba(255,255,255,0.9);
		}
	}
	.hasMoreWhenOne{
		display: block;
		z-index: 1;
	}
}

.arrow{
	&__spike{
		width: 10px;
		height: 10px;
		border: 2px solid transparent;
		border-bottom-color: #636466;
		border-left-color: #636466;
		position: absolute;
		top: 0;
		left: 5px;
		right: 0;
		bottom: 0;
		margin: auto;
		@include transform(rotate(45deg));
		&-right{
			@include transform(rotate(225deg));
			left: -5px;
			@include max(768px){
				left: -1px;
			};
		}
		@include max(768px){
			width: 6px;
			height: 6px;
			border: 1px solid transparent;
			border-bottom-color: #636466;
			border-left-color: #636466;
			left: 1px;
		};
	}
}

.show-artice{
	@include max(1024px){
		@include transform(translate(0,0));
	};
}

.pageWrapper{
	width: 77%;
	max-width: 555px;
	margin: 0 auto;
	&__title{
		margin-top: 55px;
		color: #f15a55;
		font-size: 1.4rem;
		line-height: 1;
		border-bottom: 1px solid #f15a55;
		padding-bottom: 18px;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Futura-demi', sans-serif;
		letter-spacing: 1px;
		@include max(768px){
			margin-top: 35px;
		};
	}
	&__grid{
		margin-top: 55px;
		@include max(767px){
			margin-top: 25px;
		};
	}
	&__date{
		font-size: 1.8rem;
		line-height: 1;
		font-family: 'Futura-light', sans-serif;
		color: #636466;
		@include max(768px){
			font-size: 1.2rem;
		};
	}
	&__articleTitle{
		font-size: 3.6rem;
		color: #636466;
		font-family: 'Futura-demi', sans-serif;
		line-height: 1;
		margin-top: 34px;
		margin-bottom: 50px;
		@include max(768px){
			font-size: 2.6rem;
		};
	}
	&__text{
		font-size: 1.8rem;
		line-height: 2.7rem;
		color: #636466;
		font-family: 'Futura-book', sans-serif;
		@include max(768px){
			font-size: 1.4rem;
			line-height: 2rem;
		};
	}
	&__back{
		text-transform: uppercase;
		border: 1px solid #f15a55;
		width: 140px;
		padding: 20px 0;
		text-align: center;
		font-family: 'Futura-medium', sans-serif;
		font-size: 1.4rem;
		line-height: 1;
		color: #f15a55;
		margin-top: 60px;
		display: none;
		background-color: #f7f7f7;
		transition: background-color 0.3s;
		&:hover{
			background-color: #fff;
		}
		@include max(1024px){
			display: block;
		};
		svg{
			width: 14px;
			fill: #f15a55;
			margin-right: 17px;
		}
	}
}

.rightSectionWrapper{
	padding: 55px 0;
}

.grid{
	&__item{
		&-active{
		.rightItem{
			&__date, &__text{
				color: #f15a55;
				}
			}
		}
	}
}

.item{
	margin-bottom: 60px;
	@include max(768px){
			background-color: #fff;
		};
	&:hover{
		cursor: pointer;
		.rightItem{
			&__date, &__text{
				color: #f15a55;
			}
		}
	}
	&:last-child{
		margin-bottom: 0;
	}
	&__img, &__rightItem{
		width: 47.5%;
		float: left;
		@include max(768px){
			width: 100%;
		};
	}
	&__rightItem{
		padding: 20px;
	}
	&__img{
		margin-right: 5%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding-bottom: 29%;
		@include max(768px){
			padding-bottom: 66%;
			margin-right: 0;
		};
	}
}

.rightItem{
	&__date{
		font-size: 1.4rem;
		color: #636466;
		line-height: 1;
		font-family: 'Futura-light', sans-serif;
		transition: 0.3s color ease;
		@include max(768px){
			font-size: 1rem;
		};
	}
	&__text{
		margin-top: 30px;
		font-size: 1.8rem;
		line-height: 2.4rem;
		color: #636466;
		font-family: 'Futura-book', sans-serif;
		transition: 0.3s color ease;
		@include max(768px){
			margin-top: 15px;
			font-size: 1.2rem;
			line-height: 1.6rem;
		};
	}
}

.teamPage{
	min-height: 100vh;
	background-color: #f7f7f7;
	position: relative;
	padding-bottom: 65px;
	overflow: hidden;
	@include max(768px){
		padding-bottom: 40px;
	};
	&__ballon{
		width: 18%;
		padding-bottom: 33%;
		background-position: center;
		background-image: url(../images/vyras.png);
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		top: 35vh;
		left: -4%;
		transition: transform 0.6s ease;
		&-right{
			background-image: url(../images/moteris.png);
			top: 80px;
			right: -3%;
			left: auto;
		}
	}
	&__teamPageWrapper{
		max-width: 950px;
		width: 71%;
		margin: 0 auto;
		padding-top: 153px;
		@include max(768px){
			padding-top: 100px;
		};
	}
}

.aboutText{
	width: 750px;
	margin: 0 auto;
	text-align: center;
	@include max(1024px){
		width: 100%;
	}
	&__title{
		font-size: 3.6rem;
		color: #636466;
		font-family: 'Futura-demi', sans-serif;
		margin-bottom: 26px;
		@include max(768px){
			font-size: 2.6rem;
			margin-bottom: 15px;
		};
	}
	&__author{
		font-size: 1.8rem;
		line-height: 1;
		color: #636466;
		font-family: 'Futura-light', sans-serif;
		margin-bottom: 60px;
		@include max(768px){
			margin-bottom: 25px;
			font-size: 1.2rem;
		};
	}
	svg{
		fill: #f15f5a;
		width: 40px;
		margin-bottom: 18px;
		@include max(768px){
			margin-bottom: 14px;
		};
	}
	&__text{
		font-size: 1.8rem;
		line-height: 2.7rem;
		color: #636466;
		font-family: 'Futura-book', sans-serif;
		@include max(768px){
			font-size: 1.4rem;
			line-height: 2rem;
		};
	}
}

.teamGrid{
	margin-top: 100px;
	-js-display: flex;
	display: flex;
	flex-wrap: wrap;
	@include max(1024px){
		margin-top: 65px;
	};
	@include max(768px){
		margin-top: 55px;
	};
	&__tmItem{
		width: 23%;
		margin-right: 15%;
		margin-bottom: 45px;
		&:nth-child(3n+3){
			margin-right: 0;
		}
		@include max(1024px){
			width: 41%;
			margin-right: 18%;
			margin-bottom: 40px;
			&:nth-child(3n+3){
				margin-right: 18%;
			}
			&:nth-child(2n+2){
				margin-right: 0;
			}
		}
		@include max(768px){
			width: 100%;
			margin-right: 0;
			margin-bottom: 55px;
			&:nth-child(3n+3){
				margin-right: 0%;
			}
			&:nth-child(2n+2){
				margin-right: 0;
			}
		};
	}
}

.tmItem{
	&__imgContainer{
		width: 165px;
		height: 165px;
		background-color: #fff;
		border-radius: 50%;
	}
}

.imgContainer{
	overflow: hidden;
	margin: 0 auto;
	&__img{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		padding-bottom: 100%;
		margin-top: 10px;
	}
}

.textContainer{
	text-align: center;
	&__name{
		font-size: 1.8rem;
		line-height: 1;
		color: #636466;
		font-family: 'Futura-demi', sans-serif;
		margin-bottom: 8px;
		margin-top: 30px;
	}
	&__position{
		font-size: 1.2rem;
		color: #f15a55;
		line-height: 1;
		font-family: 'Futura-light', sans-serif;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 23px;
	}
	&__text{
		font-size: 1.4rem;
		line-height: 1.8rem;
		color: #636466;
		font-family: 'Futura-book', sans-serif;
	}
}

.contactPage{
	background-color: #f7f7f7;
	min-height: 100vh;
	&__contactLeftSection{
		width: 50%;
		float: left;
		padding-bottom: 80px;
		padding-top: 153px;
		@include max(1024px){
			width: 100%;
			padding-top: 90px;
		};
		@include max(768px){
			padding-top: 60px;
		};
	}
}

.form-message{
	font-family: 'Futura-light', sans-serif;
	font-size: 1.8rem;
	line-height: 1;
	color: #fff;
	padding: 10px;
	background-color: rgba(173, 173, 174, 1);
	width: 275px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: -58px;
	display: none;
	@include max(768px){
		width: 250px;
		top: -44px;
		font-size: 1.4rem;
	};
	&-white{
		background-color: rgba(173, 173, 174, 0.5);
	}
}

#map{
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	@include max(1024px){
		position: relative;
		width: 100%;
		padding-bottom: 66.4%;
		margin-bottom: 60px;
	};
	@include max(768px){
		margin-bottom: 35px;
	};
}

.slide{
	height: 100vh;
}

.slide-1{
	background-image: url(../images/balonas.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #f7f7f7;
}

.bigBallonImg{
	width: 100%;
	height: 300vh;
	background-image: url(../images/balonas.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: -1;
	background-color: #f7f7f7;
}

.infoRow{
	&:first-child{
		margin-bottom: 60px;
		@include max(768px){
			margin-bottom: 25px;
		};
	}
	&__title, &__text{
		font-size: 3.6rem;
		line-height: 5rem;
		color: #636466;
		@include max(768px){
			font-size: 1.4rem;
			line-height: 2rem;
		};
	}
	&__title{
		float: left;
		font-family: 'Futura-demi', sans-serif;
	}
	&__text{
		float: right;
		max-width: 305px;
		width: 65%;
		text-align: right;
		font-family: 'Futura-light', sans-serif;
		&-red{
			color: #f15a55;
		}
	}
}

.form{
	width: 100%;
	margin-top: 145px;
	position: relative;
	@include max(1024px){
		margin-top: 100px;
	};
	@include max(768px){
		margin-top: 65px;
	};
	.input{
		width: 100%;
		@include appearance;
		border: none;
		border-radius: 0;
		background-color: transparent;
		font-family: 'Futura-light', sans-serif;
		font-size: 1.8rem;
		line-height: 1;
		border-bottom: 1px solid #e4e4e5;
		color: #636466;
		transition: border-bottom-color 0.3s ease;
		margin-bottom: 35px;
		padding-bottom: 8px;
		@include max(768px){
			font-size: 1.4rem;
		};
		&:last-child{
			margin-bottom: 30px;
		}
		@include placeholder{
			color: #636466;
		};
		&:focus{
			border-bottom-color: #636466;
		}
		&-white{
			color: #fff;
			border-bottom-color: #e9adab;
			@include placeholder{
				color: #fff;
			};
			&:focus{
				border-bottom-color: #e4e4e5;
			}
		}
	}
	textarea{
		resize: none;
	}
	&-white{
		margin-top: 100px;
		@include max(768px){
			margin-top: 50px;
		};
	}
}

.dropDownForm{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f15a55;
	background-image: url(../images/balonas.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 4;
	@include max(768px){
		background-image: none;
		background-color: rgba(241, 90, 85, 0.95);
	};
	.wrapper{
		padding: 16.5px 0;
		height: auto;
	}
	.header__logo{
		@include max(768px){
			display: none;
		};
	}
}

.contactBubbleWrapper{
	width: 490px;
	height: 525px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	@include max(768px){
		width: 250px;
		height: 360px;
	};
	.infoBubble-text{
		font-size: 3.6rem;
		line-height: 5rem;
		font-family: 'Futura-demi', sans-serif;
		text-align: center;
		color: #fff;
		@include max(768px){
			font-size: 1.8rem;
			line-height: 2rem;
		};
	}
}

.dropDownFormOpen{
	display: block;
}

.submit{
	font-size: 1.4rem;
	line-height: 1;
	color: #fff;
	@include appearance;
	border: none;
	border-radius: 0;
	background-color: #f15a55;
	text-transform: uppercase;
	padding: 21px 0;
	width: 140px;
	text-align: center;
	float: right;
	transition: background-color 0.3s ease;
	@include max(768px){
		width: 100%;
		font-size: 1.1rem;
		padding: 14.5px 0;
	};
	&:hover{
		background-color: #df524d;
		cursor: pointer;
	}
	&-grey{
		background-color: #636466;
		&:hover{
			background-color: #505153;
		}
	}
}

@include keyframes(rotate){
	0%{
		@include transform(rotate(0));
	}
	50%{
		@include transform(rotate(180deg));
	}
	75%{
		@include transform(rotate(90deg));
	}
	100%{
		@include transform(rotate(360deg));
	}
}

@include keyframes(mouse){
	0%{
		@include transform(translate(0, 0));
	}
	50%{
		@include transform(translate(0, 10px));
	}
	80%{
		@include transform(translate(0, -5px));
	}
	100%{
		transform-origin: center;
		@include transform(translate(0, 0));
	}
}